*{
    padding:0;
    margin: 0;
    list-style: none;
}

.wrap,#root,#app,body,html{
    width: 100%;
}


.banner{
    width: 100%;
}

.banner .swiper-slide{
    width: 200px;
    height: 100px;
    background: #ccc;
    margin: 2px;
}
